

.container {
    position: relative;
    height: 830px !important;
    width: 500px !important;
}

#daily-verse {
    position: absolute;
    transform: translate(-50%, 0%);
    width: 2000px !important;
    height: 1000px !important;
    left: 307px !important;
    top: -142px !important;
}


